h1, h2 {
        color: #333;
        margin: 20px;
}
p {
	color: #555;
	margin: 50px;
	line-height: 2;
}
.container {
	max-width: 800px;
	margin: 0 auto;
        }
a.fancy-underline {
    position: relative;
    color: #2a6496;
    text-decoration: none;
}

